.dashboard-container {
    position: relative;
    padding: 2em;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-image: url(./Images/utc.jpg);  
}

.dashboard-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Aplica el desenfoque solo a la imagen */
    z-index: -1; /* Asegura que esté detrás del contenido */
    opacity: 0.5; /* Ajusta la opacidad de la imagen de fondo */
}

.logout-button {
    background-color:black;
    box-shadow: 0 4px 15px rgb(255, 211, 116);
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    float: right;
}

.logout-button:hover {
    background-color:red;
}

.conditions-section,
.recommendations-section {
    background: rgba(255, 255, 255, 0.7); /* Fondo blanco con 70% de opacidad */
    padding: 2em;
    box-shadow: 0 4px 15px rgb(255, 211, 116);
    border-radius: 5px;
    margin-bottom: 2em;
}

h1, h2 {
    color: #333;
}

p {
    margin: 0.5em 0;
    color: #555;
}
